*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Courier New", Courier, monospace;
    color: var(--text);
}

:root {
    --background: #21252b;
    --text-area: #282c34;
    --text: #abb2bf;
    --title: #d19a66;
    --button: #63d7eb;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
}

#root {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    background-color: var(--background);
}

.title {
    font-size: 2.5em;
    font-weight: bold;

    color: var(--title);
}

.main-container {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
    background-color: var(--text-area);
    padding: 1em;
    font-size: 1em;
}

button,
.copy-result {
    padding: 1em 2em;
    background-color: var(--button);

    outline: none;
    border: none;

    cursor: pointer;

    transition: all 0.2s ease-in-out;

    font-size: 1em;
    font-weight: bold;
    color: initial;
}

.copy-result {
    padding: 1em 3em;
}

button:hover {
    filter: brightness(120%);
}

@media screen and (max-width: 900px) {
    .main-container {
        flex-direction: column;
    }
}
